@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Montserrat:wght@500&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --color-active: #00ffbf;
  --color-button: #00bfff;
  --color-hover: #003fff;
  --color-edit: #ff3f00;
  --color-post: #454545;
  --color-header-bg: #111;
  --color-body-bg: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--color-body-bg);
  height: 100vh;
  color: var(--color-post);
  font-family: "Space Mono", monospace;
}

header {
  widht: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  background-color: var(--color-header-bg);
  color: var(--color-body-bg);
}
a {
  text-decoration: none;
  color: var(--color-body-bg);
  padding: 20px;
}
h1 {
  color: var(--color-header-bg);
  text-align: center;
  font-size: 2em;
  padding: 20px;
}
h2 {
  color: var(--color-edit);
  text-align: center;
  font-size: 1.7em;
  padding: 20px;
}
.active-link {
  color: var(--color-active);
}
.container {
   max-width: 900px;
   padding-left: 2rem;
   padding-right: 2rem;
   margin: 0 auto;
 
}
main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.post {
  color: var(--color-post);
}
.edit {
  color: var(--color-edit);
  padding: 20px;
}

form {
  margin: auto;
  display: flex;
justify-content: center;
 
}
.latest {
 padding: 1em;
}
input {
  padding: 4px 42px;
  
}
button {
  margin-left: 16px;
  padding: 4px 42px;
  color: var(--color-body-bg);
  background-color: var(--color-button);
  letter-spacing: 2px;
  border: none;
}
button:hover {
  background-color: var(--color-hover);
}
footer {
  text-align: center;
}

ul {
  list-style: none;
  
}
.links {
  color: var(--color-header-bg);
}